[submodule "myhtml"]
	path = myhtml
	url = https://github.com/lexborisov/myhtml.git
[submodule "pugixml"]
	path = pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "DOOM"]
	path = DOOM
	url = https://github.com/id-Software/DOOM.git
[submodule "DOOM-3-BFG"]
	path = DOOM-3-BFG
	url = https://github.com/id-Software/DOOM-3-BFG.git
[submodule "DOOM-3"]
	path = DOOM-3
	url = https://github.com/id-Software/DOOM-3.git
[submodule "devd"]
	path = devd
	url = https://github.com/cortesi/devd.git
[submodule "styleguide"]
	path = styleguide
	url = https://github.com/google/styleguide.git
[submodule "libpng"]
	path = libpng
	url = https://github.com/glennrp/libpng.git
[submodule "anim_encoder"]
	path = anim_encoder
	url = https://github.com/sublimehq/anim_encoder.git
[submodule "pythonSource/ScotusScraper"]
	path = pythonSource/ScotusScraper
	url = https://github.com/mvwicky/ScotusScraper.git
[submodule "pythonSource/FG_App"]
	path = pythonSource/FG_App
	url = https://github.com/mvwicky/FG_App.git
[submodule "hack-example-site"]
	path = hack-example-site
	url = https://github.com/hhvm/hack-example-site.git
[submodule "generatedata"]
	path = generatedata
	url = https://github.com/benkeen/generatedata.git
[submodule "gameday-api-docs"]
	path = gameday-api-docs
	url = https://github.com/brianmpalma/gameday-api-docs.git
[submodule "latexindent.pl"]
	path = latexindent.pl
	url = https://github.com/cmhughes/latexindent.pl
[submodule "html-minifier"]
	path = html-minifier
	url = https://github.com/kangax/html-minifier.git
[submodule "cssnano"]
	path = cssnano
	url = https://github.com/ben-eb/cssnano.git
[submodule "csso"]
	path = csso
	url = https://github.com/css/csso.git
[submodule "mycss"]
	path = mycss
	url = https://github.com/lexborisov/mycss
[submodule "winnfsd"]
	path = winnfsd
	url = https://github.com/winnfsd/winnfsd.git