/* From (with modifications): http://codepen.io/keithclark/pen/JycFw */ 

html {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: Calibri, arial, sans-serif;
  height: 100%;
  margin: 0;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 0;
  perspective: 1px;
  transform-style: preserve-3d;
}

h1 { font-size: 250%; }

p {
  color: #333;
  font-size: 140%;
  line-height: 150%;
}

.slide {
  box-sizing: border-box;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.7);
  min-height: 100vh;
  padding: 25vh 10%;
  position: relative;
  transform-style: inherit;
  width: 100vw;
  &:before {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  &:nth-child(2n) .title {
    margin-left: 0;
    margin-right: auto;
  }
  &:nth-child(2n+1) .title {
    margin-left: auto;
    margin-right: 0;
  }
}

img {
  background: rgba(240, 320, 220, 0.7);
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
  height: 240px;
  left: 35%;
  padding: 10px;
  position: absolute;
  top: 50%;
  transform: translateZ(0.25px) scale(0.75) translateX(-94%) translateY(-100%) rotate(2deg);
  width: 320px;
  &:last-of-type {
    transform: translateZ(0.4px) scale(0.6) translateX(-104%) translateY(-40%) rotate(-5deg);
  }
}

.header {
  text-align: center;
  font-size: 175%;
  color: #fff;
  text-shadow: 0 2px 2px #000;
}

#title {
  background-attachment: fixed;
  background-image: url('http://lorempixel.com/640/480/abstract/6/');
}

#slide1 {
  &:before {
    background-image: url('http://lorempixel/640/480/abstract/4/');
    transform: translateZ(-1px) scale(2);
    z-index: -1;
  }
}

#slide2 {
  background-attachment: fixed;
  background-image: url('http://lorempixel/640/480/abstract/3/');
}

#slide3 {
  &:before {
    background-image: url('http://lorempixel/640/480/abstract/5/');
    transform: translateZ(-1px) scale(2);
    z-index: -1;
  }
}

#slide4 {
  background: #222;
}